<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css"/>
</head>
<body> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"><a href="/login"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="text-light nav-link active" href="/login">Log in</a></li>
      <li class="nav-item"><a class="text-light nav-link active" href="/signup">Sign up</a></li>
    </ul>
    <form id="searchTunesForm" action="/searchTunes" method="GET" class="form-inline">
      <input class="form-control mr-sm-2" name="searchBar" type="search" placeholder="Search iTunes" aria-label="Search" id="urlField" />
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <h2 class="text-center">The page you were looking for was not found.</h2>
  <script src="/assets/bundle.js"></script>
</body>
</html>