<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  {{!-- <link rel="stylesheet" type="text/css" href="/assets/style.css"/> --}}
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css"/>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"><a href="/login"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="text-light nav-link active" href="/">Back</a></li>
      <li class="nav-item"><a class="text-light nav-link active" href="/logout">Log out</a></li>
      <li class="nav-item float-right"><a class="text-light nav-link active" href="/deleteAccount">Delete Account</a></li>
    </ul>
  </nav>
  <section class="formFormat">
    <form class="form" id="changePasswordForm" name="changePasswordForm" action="/changePassword" method="POST" class="mainForm">
      <div class="form-group">
        <label for="currentPass">Current Password: </label>
        <input class="form-control" id="current" type="password" name="currentPass" placeholder="Current Password"/>
      </div>
      <div class="form-group">
        <label for="pass">New password: </label>
        <input class="form-control" id="pass" type="password" name="pass" placeholder="New Password"/>
      </div>
      <div class="form-group">
        <label for="pass2">New Password: </label>
        <input class="form-control" id="pass2" type="password" name="pass2" placeholder="Retype Password"/>
      </div>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="formSubmit btn btn-primary" type="submit" value="Sign Up" />
    </form>
  </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>