<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Log in to SongMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css"/>
</head>
<body> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"><a href="/login"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="text-light nav-link active" href="/login">Log in</a></li>
      <li class="nav-item"><a class="text-light nav-link active" href="/signup">Sign up</a></li>
    </ul>
  </nav>
  <section class="formFormat">
    <h2>Log in</h2>
    <form class="pageForm" id="loginForm" name="loginForm" action="/login" method="POST" class="mainForm">
      <div class="form-group">
        <label for="username">Username: </label>
        <input class="form-control" id="user" type="text" name="username" placeholder="username"/>
      </div>
      <div class="form-group">
        <label for="pass">Password: </label>
        <input class="form-control" id="pass" type="password" name="pass" placeholder="password"/>
      </div>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="formSubmit btn btn-primary" type="submit" value="Sign In" />
    </form>
    <div id="errorMessage"></div>
  </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>