<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>SongMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  {{!-- <link rel="stylesheet" type="text/css" href="/assets/style.css"/> --}}
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css"/>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"><a href="/login"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="text-light nav-link active" href="/logout">Log out</a></li>
      <li class="nav-item"><a class="text-light nav-link active" href="/changePassword">Change Password</a></li>
      <li class="nav-item"><a class="text-light nav-link active" href="/share">Share</a></li>
      <li class="nav-item"><a class="text-light nav-link active" href="/addNew">Add New Song</a></li>
      <li class="nav-item"><a class="text-light nav-link active" href="/">View Songs</a></li>
    </ul>
    <form onsubmit="event.preventDefault();" id="searchTunesForm" action="/searchTunes" class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search iTunes" aria-label="Search" id="urlField" />
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <section class="formFormat">
    <h2>You must have a premium account to share.   Please upgrade your account.</h2>
    <form id="songForm" name="songForm" action="/" method="GET" class="pageForm">
    <div class="form-group">
      <label for="name">Credit Card: </label>
      <input class="form-control" id="songName" type="text" name="name" placeholder="Credit Card"/>
    </div>
    <div class="form-group">
      <label for="artist">Expiration date: </label>
      <input class="form-control" id="songArtist" type="text" name="artist" placeholder="Expiration Date"/>
    </div>
    <div class="form-group">
      <label for="album">Security Code: </label>
      <input class="form-control" id="songAlbum" type="text" name="album" placeholder="Security Code"/>
    </div>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="btn btn-primary" type="submit" value="Sumbit Payment" />
    </form>
    <div id="errorMessage"></div>
  </section>
  {{!-- <div id="songMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="song" src="assets/img/domo.png" alt="song"/>
  </div> --}}
  <script src="/assets/bundle.js"></script>
</body>
</html>